body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}


h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
}

a {
   color: aquamarine; 
}