body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

a {
   color: aquamarine; 
}